html {
  background-color: #20bded;
  color: #1c1c1c;
  font-family: 'Cabin Sketch', cursive;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.header {
  font-size: 5rem;
  text-align: center;
  text-decoration: underline;
}

.homepage-body {
  text-align: center;
}

img {
  align-items: center;
}