:root {
  --font-family-header: 'Cabin Sketch', cursive;
  --main-accent-color: #ff7b25;
  --main-bg-color: #20bded;
  --main-text-color: #1c1c1c;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--font-family-header);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

h1 {
  margin: 0;
}

.header {
  border-bottom: 2px dashed var(--main-accent-color);
  font-size: 2rem;
  margin: 0;
  text-align: left;
  /* text-decoration: underline; */
}

.homepage-body {
  text-align: center;
}

img {
  align-items: center;
}