* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #d2e490;
  font-family: 'Lato', sans-serif;
  /* padding: 5%; */
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container p {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

header {
  background: url(assets/Sunset-1200.jpeg) no-repeat center;
  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .container p {
    max-width: 80vw;
  }
}
