.page {
  align-content: center;
  display: flex;
  max-width: 960px;
  text-align: center;
  width: 100vw;
}

.fallback {
  font-size: 5rem;
  font-weight: 800;
  height: 100vh;
  margin-top: 20vh;
  text-align: center;
  width: 100vw;
  z-index: 2;
}

.navTopLevel {
  position: relative;
  width: 100%;
  z-index: 1;
}

.navRow {
  display: flex;
  justify-content: center;
}

.navItem {
  border: 1px solid black;
  color: #e3d26f;
  list-style: none;
  text-align: center;
  text-decoration: none;
  width: 20%;
}
