@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.page {
  font-family: 'Nunito', sans-serif;
  max-width: 960px;
  width: 100vw;
}

.fallback {
  font-size: 5rem;
  font-weight: 800;
  height: 100vh;
  margin-top: 20vh;
  text-align: center;
  width: 100vw;
  z-index: 2;
}

.navbar {
  background-color: #f4f0bb;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
